.section {
  min-height: 400px;
  background-color: $white;
  position: relative;
  z-index: 3;

  &__inner {
    padding:15px;
    display: block;
    max-width: 1200px;
    margin: auto;
  }

  &__carousel {

    &-selector {
      text-align: center;
      padding-bottom: 25px;
    }

    &-images {
      display: block;
      margin: auto;
      padding: 10px;
    }
  }

}
